{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Par mums' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/about.css' %}" />
{% endblock %}

{% block body %}
    <section>
        <div class="about_us">

        </div>
    </section class="about">
        <div class="box">
            <div class="Vertical_Line"></div>
            <div class="main">
                <h1>{% trans 'Par mums' %}</h1>
                <h2>{% trans "Mēs esam topošais zīmols no Latvijas. Mēs specializējamies jaunāko tehnoloģiju nodrošināšanā ar viszemākajām cenām, ātrākā piegāde, atsaucīga klientu apkalpošana un, galvenais, patīkama iepirkšanās pieredze." %}</h2>
            </div>
        </div>
    </section>

{% endblock %}
