{% extends 'majaslapa/base.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% load i18n %}


{%block title %} {% trans 'Profils' %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/account.css' %}" />
{% endblock %}

{% block body %}
<div class="border">
	<h3 class="user">{% trans 'Sveiks' %}, {{ user.username}} !</h3>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label class="custom-file-upload">
			{{ p_form|crispy }} {% trans 'Mainīt bildi' %}
			<button type="submit" class="btn btn-dark btn-lg">
				{% trans 'Saglabāt' %}
			</button>
		</label>
		<input id="file-upload" type="file" />
		<a href="{% url 'password' %}"
			><input type="button" value="{% trans 'Mainīt paroli' %}"
		/></a>
		<input type="button" value="{% trans 'Mani pasūtījumi' %}" />
		<a onclick="document.getElementById('id01').style.display='block'"><input type="button" value="{% trans 'Dzēst profilu' %}" class="del" /></a>

		<img src="{{ user.profile.image.url }}" alt="Profile" />
		<div class="info">
			<h4>{{ user.username}}</h4>
			<h4>{{ user.email}}</h4>
		</div>
	</form>
</div>



<div id="id01" class="modal">
	<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
	<form class="modal-content" action="">
	  <div class="container">
		<h1>Dzēst kontu</h1>
		<p>Vai tiešām vēlaties dzēst savu kontu?</p>
		{{ delete_form }}
		<div class="clearfix">
		  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Acelt</button>
		  <a href="{% url 'deleteuser' %}"><button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Dzēst</button></a>
		</div>
	  </div>
	</form>
  </div>


  <script>
	// Get the modal
	var modal = document.getElementById('id01');

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
		modal.style.display = "none";
	  }
	}
	</script>


{% endblock %}
