{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="{% static '/majaslapa/image/Logo.png' %} " />
		<link rel="stylesheet" href="{% static '/majaslapa/css/base.css' %}" />
		{% block css %}{% endblock %}
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
		/>
	</head>
	<body>
		<div class="site_top_menu">
			<ul class="left_top">
				<li class="left">
					<a class="about" href="{% url 'about' %}">{% trans 'Par mums' %}</a>
				</li>
				<b class="stick1">|</b>
				<li class="left">
					<a class="contact" href="{% url 'contact' %}"
						>{% trans 'kontakti' %}</a
					>
				</li>
			</ul>

			{% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}

			<ul class="right_top">
				<ul class="phone right1">
					<li class="cart-phone">
						<a href="{% url 'cart' %}">{% trans 'Grozs' %}</a>
					</li>
					<ion-icon name="cart-outline" class="phone-carticon"></ion-icon>
					<li class="phone-acc">
						<a href="{% url 'account' %}">{% trans 'Profils' %}</a
						><i class="bi bi-person-circle"></i>
					</li>
				</ul>
				<li class="right1">
					<img
						class="lvimg"
						src="{% static 'majaslapa/image/LV.png' %}"
						alt="lv"
					/>
					<a class="LV" href="/lv{{ request.get_full_path |slice:'3:'}}">LV</a>
				</li>
				<li class="right1">
					<img
						class="ukimg"
						src="{% static 'majaslapa/image/ENG.png' %}"
						alt="en"
					/>
					<a class="EN" href="/en{{ request.get_full_path |slice:'3:'}}">EN</a>
				</li>
				<a class="stick2">|</a>
				{% if request.user.is_authenticated %}
				<li class="right">
					<a href="{% url 'logout' %}">{% trans 'Izlogoties' %}</a>
				</li>
				{% else %}
				<li class="right">
					<a href="{% url 'login' %}">{% trans 'Pieslēgties' %}</a>
				</li>
				<a class="stick2">|</a>
				<li class="right">
					<a href="{% url 'register' %}">{% trans 'Reģistrēties' %}</a>
				</li>
				{% endif %}
			</ul>
		</div>

		<div class="site_undertop">
			<div class="Logo">
				<a class="Logo" href="{% url 'sakums' %}">BALTICTECH.com</a>
			</div>
			<form class="boxContainer" action='{% url "sakums" %}'>
				<input type="text" placeholder="{% trans 'Meklēt...' %}" class="search" name='search' />
			</form>
			<ul class="right_menu">
				<li class="cart"><a href="{% url 'cart' %}">{% trans 'Grozs' %}</a></li>
				<ion-icon name="cart-outline" class="carticon"></ion-icon>
				<li class="acc">
					<a href="{% url 'account' %}">{% trans 'Profils' %}</a
					><i class="bi bi-person-circle"></i>
				</li>
			</ul>
		</div>

		{% block body %}{% endblock %}
	</body>
	{% block js %}{% endblock %}
</html>
