{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Paroles maiņa' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/majaslapa/css/change-password.css' %}">
{% endblock %}


{% block body %}
<div class='border'>
    <form method='POST'>
        {% csrf_token %}
        <label>{% trans 'Vecā parole' %}</label>
        {{ form.old_password}}
        <label>{% trans 'Jaunā parole:' %}</label>
        {{ form.new_password1 }}
        <label>{% trans 'Apstiprināt jauno paroli:' %}</label>
        {{ form.new_password2 }}
        <button class='btn btn-secondary'>{% trans 'Mainīt paroli' %}</button>

        <ul>

            <li>{% trans 'Parole nedrīkst būt pārāk līdzīga pārējai personīgajai informācijai.' %}</li>
            <li>{% trans 'Parolei ir jābūt vismaz 8 zīmi garai.' %}</li>
            <li>{% trans 'Parole nedrīkst būt no bieži lietotu paroļu saraksta.' %}</li>
            <li>{% trans 'Parole nedrīkst sastāvēt tikai no cipariem.' %}</li>
        </ul>
</div>
{% endblock %}