{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Paroles maiņa' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/majaslapa/css/change-password.css' %}">
{% endblock %}


{% block body %}
<div class='border'>
    <form method='POST'>
        {% csrf_token %}
        <label class="current_password">{% trans 'Pašreizējā parole:' %}</label>
        {{ form.old_password}}
        <label class="new_password">{% trans 'Jauna parole:' %}</label>
        {{ form.new_password1 }}
        <label class="repeat_password">{% trans 'Atkārtojiet jauno paroli:' %}</label>
        {{ form.new_password2 }}
        <button class="btn btn-secondary">{% trans 'Iesniegt' %}</button>

        <ul class='info'>
            <li class="password_similarity">{% trans 'Jūsu parole nedrīkst būt pārāk līdzīga citai jūsu personiskajai informācijai.' %}</li>
            <li class="password_must">{% trans 'Jūsu parolei jāsatur vismaz 8 rakstzīmes.' %}</li>
            <li class="password_common">{% trans 'Jūsu parole nevar būt bieži lietota parole.' %}</li>
            <li class="password_numeric">{% trans 'Jūsu parole nevar būt tikai cipars.' %}</li>
        </ul>
</div>
{% endblock %}
