
{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Sākums' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/majaslapa/css/home.css' %}">
{% endblock %}


{% block body %}


<section id="category" class="kategory">
    <font size="+7" >{% trans 'Iepirkties pēc kategorijas' %}</font>
    <div class="cat-container">
            {% for kategorija in category_list %}
            <div class="cat" href>
            <a href='{% url "category" kategorija.slug %}'>
            <img class="foto" src="{{kategorija.image.url}}" alt="dators">
            <hr>
            <div class="text">
                <h1>{{ kategorija.name }}</h1>
            </div>
        </div>
    </a>
        {% endfor %}
    </section>

{% endblock %}
