

    <section id="category" class="kategory">
        <font size="+7" >Shop by Category</font>
    <div class="cat-container">
        <div class="cat">
            <img class="foto" src="/png.jpeg" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
        <div class="cat">
            <img class="foto" src="/png.png" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
        <div class="cat">
            <img class="foto" src="/png.png" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
        <div class="cat">
            <img class="foto" src="/png.png" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
    </div>
    </section>

{% extends 'majaslapa/base.html' %}

{% block title %}
Sākums
{% endblock %}

{% block body %}

{% for kategorija in category_list %}
    {{ kategorija.name }}
    <section id="category" class="kategory">
        <font size="+7" >Shop by Category</font>
    <div class="cat-container">
        <div class="cat">
            <img class="foto" src="/png.jpeg" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
        <div class="cat">
            <img class="foto" src="/png.png" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
        <div class="cat">
            <img class="foto" src="/png.png" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
        <div class="cat">
            <img class="foto" src="/png.png" alt="dators">
            <div class="text">
                <h1>Computers</h1>
            </div>
        </div>
    </div>
    </section>
{% endfor %}

{% endblock %}

