<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/42a043e373.js"></script>
</head>
<body>
    <header class="header">
        <div class="site_top_menu">
            <ul class="left_top">
                <li class="left"><a class="about" href="#">About</a></li>
                <li class="left"><a class="contact" href="#">Contact</a></li>
            </ul>
            
            <ul class="right_top">
                <li class="right1">
                    <img src="images/lvicon.png" alt="lv">
                    <a href="#">LV</a>
                </li>
                <li class="right1">
                    <img class="ukimg" src="images/UkIcon.png" alt="en">
                    <a class="EN" href="#">EN</a>
                </li>
                <li class="right"><a href="#">Login</a></li>
                <li class="right"><a href="#">Register</a></li>
            </ul>


        </div>

        <div class="site_undertop">
            <div class="Logo">
                <a class="Logo" href="#">BALTICHTECH.com</a>
            </div>
            <div class="wrapper">
                <div class="search_box">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="input" placeholder="Search">
                    
                </div>
            </div>
            <ul class="right_menu">
                <li class="cart"><a href="#">In cart(2)</a></li>
                <li class="cartimg"><img src="images/CartIcon.png" alt="cart"></li>
                <li class="acc"><a href="#">Account</a></li>
                <li class="accimg"><img  src="images/AccountIcon 1.png" alt="Account"></li>
            
            </ul>
        </div>

    </header>
</body>
</html>