<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BALTICTECH</title>
    <link rel="stylesheet" href="instruction.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/42a043e373.js"></script>
</head>
<body>
    <header class="header">
        <div class="site_top_menu" >
            <ul class="left_top">
                <li class="left"><a class="about" href="#">About</a></li>
                <li class="left"><a class="contact" href="#">Contact</a></li>
            </ul>
            
            <ul class="right_top">
                <li class="right1">
                    <img src="images/lvicon.png" alt="lv">
                    <a href="#">LV</a>
                </li>
                <li class="right1">
                    <img class="ukimg" src="images/UkIcon.png" alt="en">
                    <a class="EN" href="#">EN</a>
                </li>
                <li class="right"><a href="./login.html">Login</a></li>
                <li class="right"><a href="./register.html">Register</a></li>
            </ul>


        </div>

        <div class="site_undertop">
            <div class="Logo">
                <a class="Logo" href="#">BALTICHTECH.com</a>
            </div>
            <div class="wrapper">
                <div class="search_box">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="input" placeholder="Search">
                    
                </div>
            </div>
            <ul class="right_menu">
                <li class="cart"><a href="./cart.html">In cart(2)</a></li>
                <li class="cartimg"><img src="images/CartIcon.png" alt="cart"></li>
                <li class="acc"><a href="#">Account</a></li>
                <li class="accimg"><img  src="images/AccountIcon 1.png" alt="Account"></li>
            
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="accordion__title">
                <h1>Instrukcija</h1>
            </div>
            <button class="accordion">1. How to Register</button>
            <div class="panel">
                <p>Lai lietotājs varētu iegādāties kādu preci, viņam vispirms jāreģistrē savs konts</p>
                <p>Lai to izdarīt jums ir nepieciešams:</p>
                <ul>
                    <li>1.	Galvenajā lapā augšējā labajā stūrī ir poga <span href="#">"Register"</span>, uz kuras jums jānoklikšķina ar peles kreiso taustiņu</li>
                    <li>2.	Pēc tam jūs tiksit novirzīts uz citu lapu, kur sākat reģistrēšanās procesu</li>
                    <li>3.	Lai veiksmīgi reģistrētos, jums jāievada lietotājvārds, e-pasts,parole un tā jādublē (parolēm jāsakrīt), pēc tam noklikšķiniet uz pogas "Reģistrēties"</li>
                    <li>4.	Uz jūsu e-pastu (norādīts reģistrējoties) tiks nosūtīta reģistrācijas apstiprinājuma vēstule</li>
                    <li>5.	Pēc tam jūsu konts tiks veiksmīgi saglabāts datu bāzē</li>
                </ul>
            </div>

            <button class="accordion">2. How to Login</button>
            <div class="panel">
                <p>Kad esat reģistrējis savu kontu, jums ir nepieciešams:</p>
                <li>1.	Galvenajā lapā tajā pašā vietā kur atrodas reģistrācijas poga, ir poga <span>"Login"</span>, noklikšķiniet uz tās ar peles kreiso pogu</li>
                <li>2.	Jūs tiksit novirzīts uz pieteikšanās lapu</li>
                <li>3.	Šajā lapā jums jānorāda savs e pasts un parole</li>
                <li>4.	Pēc tam jūs veiksmīgi piekļūsit savam kontam mūsu vietnē</li>
                <p><span class="red-text">Gadījumā, ja pēkšņi aizmirsāt paroli, tā ir jāatiestata un jāmaina uz citu (norādījumi par paroles atiestatīšanu un maiņu zemāk</span></p>
            </div>

            <button class="accordion">3. How to Contact Us</button>
            <div class="panel">
                <p>Ja kaut kas nedarbojas mūsu mājas lapā, tad ir nepieciešams sazināties ar mums</p>
                <p>Lai to izdarītu jums ir nepieciešams:</p>
                <li>1.	Augšējā kreisajā pusē ir poga <span>"Contact Us"</span>, noklikšķiniet uz tās ar peles kreiso pogu</li>
                <li>2.	Jūs tiksiet novirzīts uz lapu, lai sazinātos ar mums</li>
                <li>3.	Aizpildiet veidlapu un noteikti norādiet savu e-pastu, pretējā gadījumā mēs nevarēsim jums atbildēt</li>
                <li>4.	Detalizēti aprakstiet savu situāciju un gaidiet atbildi no mums elektroniski ( e-pasts)</li>
            </div>

            <button class="accordion">4. All about Orders</button>
            <div class="panel">
                <p>Ja vēlaties apskatīt informācīju par savu pirkumu, kā pasūtijuma numurs, produkta nosaukums, pasūtīšanas datums, pasūtījuma statuss, un pasūtījuma maksa, to visu ir iespējams redzēt <span>Orders</span> sadaļā.</p>
                <p>Lai to izdarītu jums ir nepieciešams:</p>
                <li>1.	Ierakstīties saitā ar reģistrētu profilu.</li>
                <li>2.	Noklikšķināt uz <span>Account</span> pogu, kas ir atrodama vietnes augšējās rīkjoslas labajā pusē.</li>
                <li>3.	Noklikšķināt uz <span>My Orders</span> pogu.</li>
            </div>

            <button class="accordion">5. All about Profile </button>
            <div class="panel">
                <p>Profila lapā jūs spēsiet pārvaldīt un pārskatīt visu savu profila informāciju. Tur jūs varēsiet nomainīt savu profila bildi, lietotājvārdu, paroli, un doties uz Orders Page.</p>
                <li>1.	Ierakstīties saitā ar reģistrētu profilu.</li>
                <li>2.	Noklikšķināt uz <span>Account</span> pogu, kas ir atrodama vietnes augšējās rīkjoslas labajā pusē.</li>
            </div>

            <button class="accordion">6. Password Change</button>
            <div class="panel">
                <li>1.	Lai atiestatītu vai mainītu paroli, jums jāmēģina pieteikties, pēc kura virs pieteikšanās pogas būs uzraksts "aizmirsu paroli". Noklikšķiniet uz tā!</li>
                <li>2.	Jūs tiksit novirzīts uz paroles atiestatīšanas lapu, kurā norādāt savu e-pastu</li>
                <li>3.	Uz jūsu pastu tiks nosūtīts apstiprinājuma e-pasts, kurā būs norādīts ka vēlaties atiestatīt paroli.</li>
                <li>4.	Pēc tam jūsu parole tiks atiestatīta un jums būs jānorāda jauna parole un tā jāatkārto</li>
                <p><span class="red-text">Uzmanību! Pārbaudiet, vai jūsu jaunā parole darbojas, ja nē, tad rakstiet atbalstam !</span></p>
            </div>

            <button class="accordion">7. About Us</button>
            <div class="panel">
                <p>Ja vēlaties noskaidrot par ko mūsu mājaslapā pārstāv, tad About Us sadaļā varat izlasīt īsu aprakstu.</p>
                <p>Lai to izdarītu jums ir nepieciešams:</p>
                <li>1.	Augšējā lapas rīkjoslas kreisajā malā ir atrodamas pogas, klikšķinot uz About Us, jūs aizvedīs uz About Us lapu.</li>
            </div>
            <button class="accordion">8. Home</button>
            <div class="panel">
                <p>Ierodaties mājaslapā, jums būs iespēja izvēlēties vienu no daudzām preču kategorijām, un turpināt pārlūkot preces ar automātiski izvēlētiem filtriem.</p>
            </div>

        </div>
      </main>
      <script src="instruction.js"></script>
</body>
</html>
