{% extends 'majaslapa/base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Pieslēgties' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/registerandlogin.css' %}">
{% endblock %}


{% block body %}
    <form id="msform" method="POST">
    {% csrf_token %}

        <div class="LoginMain">
            <h1>{% trans 'Pieslēgties' %}</h1>
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}
            <div class='inputbox'>
                <input type="text" name='username' class='input' required='required'>
                <span>{% trans 'Lietotājvārds' %}</span>
                <div class='login'>
                    <input type="password" name='password' class='input' id='passwordField' required='required'>
                    <span>{% trans 'Parole' %}</span>
                    <ion-icon name="eye-off-outline" class='showPasswordToggle'></ion-icon>
                </div>
            </div>
                {% comment %} <input type='text' name='password' class='input' required>
                <label for=''>password</label>
                <ion-icon name="eye-off-outline"></ion-icon> {% endcomment %}

            <div class='reg_log'>
                <input type="submit" name="submit" class='register_button' value="{% trans 'Pieslēgties' %}" />
                <p class='p'><span class='span'>{% trans 'vai' %}</span></p>
                <a href='{% url 'register' %}'><input type="button" class='register_button' value="{% trans 'Reģistrēties' %}" /></a>
            </div>

            <div class="member">
                <div class="recover">
                    <a  class="Forgot_your_password" href="{% url 'reset_password' %}">{% trans 'Aizmirsi paroli?' %}</a>
                </div>
                <div class="Horizontal_line2"></div>
                <div class="Google">
                <a class="Google_signin" href="{% provider_login_url 'google' %}">Sign in using Google</a>
                <img class="Google_image" src="{% static '/majaslapa/image/google.png' %}" alt="Google">
                </div>
                <div class="Facebook">
                <a class="Facebook_signin" href="{% provider_login_url 'facebook' %}">Sign in using Facebook</a>
                <img class="Facebook_image" src="{% static '/majaslapa/image/facebook.png' %}" alt="Google">
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}
<script src="{% static '/majaslapa/js/login.js' %}"></script>
{% endblock %}