{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Pasūtijumi
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static '/majaslapa/css/order_info.css' %}">
{% endblock %}

{% block body %}
    </header>
    <main class="order__wrapper">
        <section class="order__wrap">
            <div class="order__title">
                <h1 class="order-title">{% trans 'Mani pastijumi' %}</h1>
            </div>
            <div class="order__table">
                <table class="order__table-main">
                    <tr>
                        <th>Nr.</th>
                        <th>{% trans 'Produkta nosaukums' %} </th>
                        <th>{% trans 'Pirkšanas datums un laiks'%} </th>
                        <th>Status</th>
                        <th>{% trans 'Cena' %}</th>
                        <th>{% trans 'Produkta lapa' %} </th>
                    </tr>
                    {% for order in order %}
                    <tr>
                        <td>{{ order.Order_number }}</td>
                        <td> {{ order.product}} </td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.amount}}  €</td>
                        <td><a class="order__link" href='{% url "product" order.product.slug %}'>{% trans 'Produkta lapa' %}</a></td>
                    </tr>
                    {% endfor %}
               </table>
            </div>
        </section>
    </main>
    {% endblock %}
