{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ Preces.title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/product_info.css' %}">
{% endblock %}

{% block body %}

    <div class="productdetail">
        <div  class="producttop">
            <div class="photos">
                <div class="mainimage">
                    <img src="{{Preces.image.url}}"  id="imagebox">
                </div>
               <div class="small-img">
                    <img src="{{Preces.image.url}}" onclick="clickimg(this)">
                    {% for image in image %}
                        <img src="{{image.image.url}}" onclick="clickimg(this)">
                    {%endfor%}
               </div>
            </div>
            <div class="priceandbuy">
                <div class="prodname">
                    <p>{{ Preces.title }}</p>
                </div>
                <div class="buttons price">

                    {% if Preces.discount_price is null %}
					<h1>{{ Preces.regular_price }}  € </h1>
				{% else %}
					<h3> <del>{{ Preces.regular_price }}   €</del> </h3>
					<h2>{{ Preces.discount_price }}  € </h2>
				{% endif %}
                </div>
                <div class="buttons buttonsb">
                    <form method='POST'>
                    <div class="inputb">
                        <a>{% trans 'Daudzums:' %} </a>
                        <input type="number" value="1" min='1'>
                    </div>
                </form>
                    {% if Preces.is_active == True %}
                    <div class="inputc">
                        <button type='' class="checkout1" class="button is-primary" id="submitBtn">{% trans 'Pirkt' %}</button>
                        <a href="{% url 'cart_add' Preces.id %}"> <button class="addtocart">{% trans 'Ielikt Grozā' %}</button></a>
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </form>
            </div>
        </div>
        <div class="productbot">
            <p>{%trans 'Tehniskā specifikācija'%}</p>
            <div class="allspec">
                <div class="specleft">
                    <table class="tablel1">
                        <tr>
                            <td><a>Manufacturer</a></td>
                            <td align="right"><a>HP</a></td>
                        </tr>
                        <tr>
                            <td><a>Model</a></td>
                            <td align="right"><a>G7</a></td>
                        </tr>
                        <tr>
                            <td><a>Video camera</a></td>
                            <td align="right"><img src="/images/CheckIcon 1.png" src="no"></td>
                        </tr>
                        <tr>
                            <td><a>Microphone</a></td>
                            <td align="right"><img src="/images/CheckIcon 1.png" src="no"></td>
                        </tr>
                        <div class="borderbot"></div>
                        <tr>
                            <td><a>Weight</a></td>
                            <td align="right"><a>1.78 KG</a></td>
                        </tr>
                    </table>
                    <table class="tablel2">
                        <tr>
                            <td><a>Screen size</a></td>
                            <td align="right"><a>15.6”</a></td>
                        </tr>
                        <tr>
                            <td><a>Resolution</a></td>
                            <td align="right"><a>1920x1080</a></td>
                        </tr>
                        <tr>
                            <td><a>Screen surface type</a></td>
                            <td align="right"><a>Matte</a></td>
                        </tr>
                    </table>
                    <table class="tablel3">
                        <tr>
                            <td><a>RAM</a></td>
                            <td align="right"><a>8 GB</a></td>
                        </tr>
                        <tr>
                            <td><a>Max RAM</a></td>
                            <td align="right"><a>16 GB</a></td>
                        </tr>
                        <tr>
                            <td><a>Hard disk (HDD)</a></td>
                            <td align="right"><img src="/images/checkno.png" src="no"></td>
                        </tr>
                        <tr>
                            <td><a>Hard Drive (SSD)</a></td>
                            <td align="right"><a>256 GB</a></td>
                        </tr>
                    </table>
                </div>
                <div class="specright">
                    <table class="tabler1">
                        <tr>
                            <td><a>WiFi</a></td>
                            <td align="right"><img src="/images/CheckIcon 1.png" src="yes"></td>
                        </tr>
                        <tr>
                            <td><a>Wi-Fi standard</a></td>
                            <td align="right"><a>IEEE 802.11a/b/g/n/ac</a></td>
                        </tr>
                        <tr>
                            <td><a>Bluetooth</a></td>
                            <td align="right"><img src="/images/CheckIcon 1.png" src="yes"></td>
                        </tr>

                    </table>
                    <table class="tabler2">
                        <tr>
                            <td><a>Video card type</a></td>
                            <td align="right"><a>Intel (integrated)</a></td>
                        </tr>
                        <tr>
                            <td><a>Video card</a></td>
                            <td align="right"><a>Intel UHD Graphics 620</a></td>
                        </tr>
                    </table>
                    <table class="tabler3">
                        <tr>
                            <td><a>Processor type</a></td>
                            <td align="right"><a>Intel Core i3</a></td>
                        </tr>
                        <tr>
                            <td><a>Processor</a></td>
                            <td align="right"><a>Intel Core i3-8130U</a></td>
                        </tr>
                        <tr>
                            <td><a>Cores</a></td>
                            <td align="right"><a>2</a></td>
                        </tr>
                        <tr>
                            <td><a>Processor frequency</a></td>
                            <td align="right"><a>2.2 GHz</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        function clickimg(smallImg){
            var fullImg = document.getElementById("imagebox")
            fullImg.src = smallImg.src
        }


        console.log("Sanity check!");

        // Get Stripe publishable key
        fetch("/config/")
        .then((result) => { return result.json(); })
        .then((data) => {
          // Initialize Stripe.js
          const stripe = Stripe(data.publicKey);

          // new
          // Event handler
          document.querySelector("#submitBtn").addEventListener("click", () => {
            // Get Checkout Session ID
            fetch("/{{ Preces.slug }}/create-checkout-session/")
            .then((result) => { return result.json(); })
            .then((data) => {
              console.log(data);
              // Redirect to Stripe Checkout
              return stripe.redirectToCheckout({sessionId: data.sessionId})
            })
            .then((res) => {
              console.log(res);
            });
          });
        });
    </script>
    {% endblock %}