{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ Preces.title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/product_info.css' %}">
{% endblock %}

{% block body %}
{% for product in product_list %}
    <div class="productdetail">
        <div  class="producttop">
            <div class="photos">
                <div class="mainimage">
                    <img src="{{Preces.image.url}}"  id="imagebox">
                </div>
               <div class="small-img">
                    <img src="{{Preces.image.url}}" onclick="clickimg(this)">
                    {% for image in image_prod %}
                        <img src="{{image.image.url}}" onclick="clickimg(this)">
                    {%endfor%}
               </div>
            </div>
            <div class="priceandbuy">
                <div class="prodname">
                    <p>{{ Preces.title }}</p>
                </div>
                <div class="buttons price">

                    {% if Preces.discount_price is null %}
					<h1>{{ Preces.regular_price }}  € </h1>
				{% else %}
					<h3> <del>{{ Preces.regular_price }}   €</del> </h3>
					<h2>{{ Preces.discount_price }}  € </h2>
				{% endif %}
                </div>
                <div class="buttons buttonsb">
                    <div class="inputb">
                        <form action="" method="post" id='form'>
                            {% csrf_token %}
                            <a>{% trans 'Daudzums:' %} </a>
                            <input type="number" value="1" min='1' max='{{ Preces.quantity }}' name='quantity' id='quantity'>
                        </form>
                    </div>
                    {% if Preces.is_active == True %}
                    <div class="inputc">
                        <button class="checkout1" class="button is-primary" id="submitBtn">{% trans 'Pirkt' %}</button>
                        <a href="{% url 'cart_add' Preces.id %}"> <button class="addtocart">{% trans 'Ielikt Grozā' %}</button></a>
                    </div>
                    {% else %}
                    {% endif %}
                </div>
            </form>
            </div>
        </div>
        <div class="productbot">
            <p>{%trans 'Tehniskā specifikācija'%}</p>
            <div class="allspec">
                <div class="specleft">
                    <table class="tablel1">
                        {% for spec in product.Produkta_specifikacija.all %}
                        {% if spec.specification_value == 'Yes' %}
                        <tr>
                            <td><a>{{ spec.specification }}</td>
                            <td align="right"><img class='image' src="{% static '/majaslapa/image/CheckIcon.png' src="no" %}" /></td>
                        </tr>
                        {% elif spec.specification_value == 'No'%}
                        <tr>
                            <td><a>{{ spec.specification }}</td>
                            <td align="right"><img  class='image' src="{% static '/majaslapa/image/Checkno.png' %}" /></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td><a>{{ spec.specification }}</td>
                            <td align="right"><a>{{spec.specification_value}}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
{% endfor %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        form = document.querySelector("#form");

        function clickimg(smallImg){
            var fullImg = document.getElementById("imagebox")
            fullImg.src = smallImg.src
        }


        console.log("Sanity check!");

        // Get Stripe publishable key
        fetch("/config/")
        .then((result) => { return result.json(); })
        .then((data) => {
          // Initialize Stripe.js
          const stripe = Stripe(data.publicKey);

          // new
          // Event handler
          document.querySelector("#submitBtn").addEventListener("click", () => {
            // Get Checkout Session ID
            fetch("/{{ Preces.slug }}/create-checkout-session/")
            .then((result) => { return result.json(); })
            .then((data) => {
              console.log(data);
              // Redirect to Stripe Checkout
              return stripe.redirectToCheckout({sessionId: data.sessionId})
            })
            .then((res) => {
              console.log(res);
            });
          });
        });

        {% comment %} form = document.querySelector("#form");
        button = document.querySelector(".checkout1");

        button.addEventListener("click", ()=>{
            form.submit()
          }); {% endcomment %}

          const selectElement = document.querySelector('#quantity');
          const submit = document.querySelector('#submitBtn');

          selectElement.addEventListener('change', (event) => {
              (submit).submit()
          });

    </script>
    {% endblock %}

