.border{
display: block;
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
margin-top: 100px;
width: 960px;
height: 615px;
background: #FFFFFF;
border: 1px solid #C1C1C1;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
border-radius: 5px;
justify-content: center;
align-items: center;

}

.border .user{
margin: 80px;
margin-left: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
display: flex;
align-items: center;
color: #000000;
}

.border input{
    padding: 10px;
    margin-left: 100px;
    margin-top: 30px;
    width: 355px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
}

.border input:hover{
    background-color: #22212128;
}

.border img{
position: absolute;
width: 480px;
margin-left: 580px;
margin-top: -420px;
border-radius: 50%;
width: 250px;
height: 250px;

}

.border .info{
    display: block;
    margin-left: 490px;
    margin-top: -120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    display: block;
    color: #000000;
    text-align: center;
}

.border a{
    display: block;
    width: 0;

}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 10px;
    margin-left: 100px;
    margin-top: 30px;
    width: 320px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid rgb(0, 0, 0);
}

.controls{
display: none;
}

.control-label{
    display: none;
}
.border button{
    position: absolute;
    width: 100px;
    height: 60px;
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-left: 242px;
    margin-top: -12px;

}

.border .del{
    background-color: #ff1010;
    color: #FFFFFF;
}

.border .del:hover{
    background-color: #ff0000d2;
}



.cancelbtn, .deletebtn {
    position: relative;
    float: left;
    width: 40%;
    left: 60px;
  }

  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 80px;
    height: 40px;
    margin-right: 20px;
    cursor: pointer;
  }

  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
    margin-top: 80px;
    height: 40px;
    margin-right: 20px;
    color: #f1f1f1;
    cursor: pointer;
  }

  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5db6;
    padding-top: 50px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: auto;
  }

  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;

  }

  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }

  .container p{
    font-size: 26px;
    position: relative;
    top: 25px;
  }