.border{
display: block;
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
margin-top: 100px;
width: 960px;
height: 615px;
background: #FFFFFF;
border: 1px solid #C1C1C1;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
border-radius: 5px;
justify-content: center;
align-items: center;

}

.border .user{
margin: 80px;
margin-left: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
display: flex;
align-items: center;
color: #000000;
}

.border input{
    padding: 10px;
    margin-left: 100px;
    margin-top: 30px;
    width: 320px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
}

.border input:hover{
    background-color: #bbbbbb3f;
}

.border img{
position: absolute;
width: 480px;
margin-left: 580px;
margin-top: -370px;
border-radius: 50%;
width: 250px;
height: 250px;

}

.border .info{
    display: block;
    margin-left: 460px;
    margin-top: -100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    display: block;
    color: #000000;
    text-align: center;
}

.border a{
    display: block;
    width: 0;

}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 10px;
    margin-left: 100px;
    margin-top: 30px;
    width: 320px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid rgb(0, 0, 0);
}

.controls{
display: none;
}

.control-label{
    display: none;
}
button{
    padding: 8px 0 0 3px;
    width: 92px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
    position: relative;
    bottom: 12px;
    left: 102px;

}

.border .del{
    background-color: #ff1010ad;
}