body{
    background-color: var(--background);
    color: var(--foreground);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.site_top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary);
    padding: 20px 15px;
    height: 0px;
 }

.left_top{
     list-style: none;
     display: flex;
}

.right_top{
    list-style: none;
    display: flex;
}

.left_top li{
    display: inline-block;
    padding: 0px 22px;
    display: flex;
}

.right_top li{
    display:inline-block;
    display: flex;
}

.left_top li a{
    display: flex;
}

.right_top li a{
    display: flex;
}

.right_top li a:hover{
    color: chartreuse;
}

.left_top li a:hover{
    color: chartreuse;
}

.right{
    padding: 0px 10px;
    display: block;
}

.right1{
    margin-right: 12px;
}

.stick1{
    width: 1px;
    color: rgb(255, 255, 255);
}

.stick2{
    width: 1px;
    color: rgb(255, 255, 255);
}

.ukimg{
    position: absolute;
    top: 12px;
    width: 28px;
}

.lvimg{
    position: absolute;
    top: 14px;
    width: 26px;
}

.EN{
    padding-left: 30px;
    display: block;
}

.LV{
    padding-left: 30px;
    display: block;
}
/*site top*/

.site_undertop{
    background-color: #90c474;
    height: 70px;
    display: flex;
    align-items: center;


}
.right_menu{
    list-style: none;
    display: flex;
}

.right_menu li{
    justify-content: center;
}

.cart{
    position: absolute;
    top: 67px;
    right: 250px;
}

.carticon{
    position: absolute;
    top: 60px;
    right: 220px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.acc{
    position: absolute;
    top: 62px;
    right: 84px;
    color: rgb(255, 255, 255);
}

.acc i{
    font-size: 25px;
    margin-left: 5px;
}

.Logo{
    padding-left: 5px;
    padding: 0 20px;
    font-size: 30px;
    position: static;
}

.right_menu a:hover{
    color: 6FB64D;
}


.search{
    border: none;
    height: 35px;
    width: 720px;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-text);
    /* margin-left: 350px;
    align-items: center; */
    background: var(--clr-gray);
    border-color: var(--clr-gray);
}

.phone{
    display: none;
    margin-right: 12px;
}

/* @media (max-width: 5000px){
    .right_menu{
        display: none;
        top: 20px;
    }
    .phone{
        display:flex;
    }
    .right1{
        margin-top:9px
    }
    .right{
        margin-top:9px
    }
    .stick2{
        margin-top:7px
    }
    .Logo{
        font-size: 24px;
        padding-left: 4px;
    }

} */


.boxContainer{
    position: relative;
    text-align: center;
    width: 100%;
    margin-right: 340px;


}

.cart-phone{
    position: absolute relative;
    top: 5px;

}

.phone-carticon{
    display: block;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: -5px;
}

.phone-acc{
    position: absolute relative;
    color: rgb(255, 255, 255);
    top: 8px;
}

.phone-acc i{
    font-size: 25px;
    margin-left: 5px;
    right:5px;
    margin-top: -3px;
}

.label {
    background-color: #efefef;
    display: flex;
    border-radius: 20px;
    height: 26px;
    width: 50px;
    position: relative;
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #90c474;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
    background-color: #121212;
}

h1 {
    font-size: 34px;
}

:root {
    --clr-primary: #6FB64D;
    --clr-secondary: #90c474;
    --clr-gray: #efefef;
    --clr-white: #fff;
    --clr-dark: #000;
    --clr-text: #000;

    --foreground: var(--clr-text);
    --background: var(--clr-gray);
}

.darkmode {
    --clr-primary: #6FB64D;
    --clr-secondary: #90c474;
    --clr-gray: #1c1c1c;
    --clr-white: #171717;
    --clr-dark: #fff;
    --clr-text: #fff;

    --foreground: var(--clr-text);
    --background: var(--clr-gray);
}

.checkbox {
    float: right;
    position: absolute;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.darkmodeicon {
    float: right;
}
