.border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 100px;
    width: 1000px;
    height: 590px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    }

.border li{
    color: black;
    padding:10px;
    font-size:22px
    }



.border input{
    margin-left: 48%;
    margin-top: 30px;
    height: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    cursor: text;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.current_password {
    width: 250px;
    text-align: right;
    margin-top: -7px;
    position: absolute;
    margin-left: 200px;
}

.new_password {
    width: 250px;
    text-align: right;
    margin-top: 24px;
    position: absolute;
    margin-left: 200px;
}

.repeat_password {
    width: 250px;
    text-align: right;
    margin-top: 24px;
    position: absolute;
    margin-left: 200px;
}


.border input:hover {
    background-color: #6FB64D
}

.border label{
    padding:10px;
    font-size: 24px;
}

.border button{
    margin-left: 22%;
    margin-top: 60px;
    width: 560px;
    height: 40px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    pointer-events: auto;
    background-color: rgb(111, 182, 77);
    border-color: rgb(111, 182, 77, 0);
    transition: 0.3s;
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.border button:hover{
    background-color:rgb(111, 182, 77, 0.7);
}

.border button:focus {
    background-color:rgb(111, 182, 77, 1);
    transition: none;
}


.border button:active {
    background-color:rgb(111, 182, 77, 1);
}


/* ul {
    margin-left: 210;
    margin-top: 50px;
    text-align: left;
    list-style: none;
}

li {
    margin-top: 4px;
    list-style: disc;
    font-size: 16px;
} */
.info{
    margin-left: 60px;
    margin-top: 40px;
}
