#category {
    text-align: center;
    padding-top: 50px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#category .cat-container {
    display:flex;
    padding-top: 30px;
    padding-left: 160px;
    flex-wrap: wrap;
    padding-right: 50px;
}


#category .cat {
    width: 17em;
    height: 17em;
    padding: 20px 0;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0 0 40px;
    transition: 0.2s ease;
    position: relative;
    background-color: #fff;
}

#category .cat:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#category .cat img {
    height: 140px;
    border-radius: 20px;
}

#category .cat h1 {
    margin-top: 15px;
    color: black;
}

#category .cat hr {
    margin-top:40px;
    color: rgba(255, 255, 255, 0.13);
    width: 245px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 50px;
    position: relative;
    bottom: 0;

  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
  }

.pagination a:hover:not(.active) {background-color: #ddd;}