/* header */
body{
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.site_top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6FB64D;
    padding: 30px 15px;
    height: 60px;
}
.left_top{
     list-style: none;
}
.right_top{
    list-style: none;
}
.left_top li{
    display: inline-block;
    padding: 0px 20px;
}
.right_top li{
    display:inline-block;
}
.left_top li a{
    transition: all 0.3s ease 0s;
}
.right_top li a{
    transition: all 0.3s ease 0s;
}
.right_top li a:hover{
    color: chartreuse;
}
.left_top li a:hover{
    color: chartreuse;
}

.right{
    padding: 0px 10px;
}
.right1{
    margin-right: 10px;
}
.ukimg{
    position: absolute;
    top: 20px;
    right: 245px;
}
.EN{
    padding-left: 30px;
}
/*site top*/

.site_undertop{
    background-color: rgba(99, 180, 61, 0.7);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right_menu{
    list-style: none;
    padding: 0 30px;
}

.right_menu li{
    justify-content: center;
    display: inline-block;
}
.cart{
    position: absolute;
    top: 110px;
    right: 250px;
}
.cartimg{
    position: absolute;
    top: 55px;
    right: 200px;

}
.acc{
    position: absolute;
    top: 110px;
    right: 84px;
}

.Logo{
    padding: 0 50px;
    font-size: 40px;
    font-weight: 400;
}
.search{
    justify-items: center;

}
.wrapper{
    position: absolute;
    top: 10%;
    left: 30%;
}
.search_box{
    width: 900px;
    height: 50px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    
    
}


.search_box > i{
    font-size: 20px;
    color: #363636;
    padding-right: 20px;
    
}
.search_box > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-right: 20px;
    background-color: rgba(239, 239, 239, 1);
    
}



::-webkit-input-placeholder{
    color: rgb(117, 117, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    text-transform: inherit;

}
::-moz-input-placeholder{
    color: rgb(117, 117, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    text-transform: inherit;

}
::-ms-input-placeholder{
    color: rgb(117, 117, 117);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    text-transform: inherit;
}
.close-button{
    position: absolute;
    left: 40px;
    padding: 10px 25px;
    border-radius: 50%;
    border: none;

}

.right_menu a{

transition: all 0.3s ease 0s;
}
.right_menu a:hover{
    color: chartreuse; 
}

/* main content */

.accordion {
    background-color: rgba(99, 180, 61, 0.7);
    color: black;
    cursor: pointer;
    padding: 18px;
    max-width: 900px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    margin-bottom: 5px;
    border-style: inherit;
    margin: auto;
    border-radius: 10px;
    font-weight: 500;
    
  }
  
  .active, .accordion:hover {
    background-color: #4779e3;
  }
  
  
  .panel {
    padding: 0 18px;
    background-color: #f4f4f4;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    max-width: 900px;
    margin-bottom: 8px;
    margin: auto;
    width: 90%;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    
  }
  .container{
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .accordion__title{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  ul,li{
    list-style: none;
    color: black;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    
    
  }
span{
    font-weight: 700;
    cursor: pointer;
}
.red-text{
    color: red;
}
