/**/

.TextBox{
    width: 500px;
    height: 230px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 28px;
    color: #07001f;
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

p {
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    width: 10;
    color: rgb(0, 0, 0, 0.5);
}

#messages{
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left-color: #bd2130;
}

.Horizontal_line {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 1px;
    width: 90%;
    background-color: rgb(0,0,0,0.2);
    margin-bottom: 20px;
}